<div class="clinic-card-container">
  <div class="clinic-card-flex">

    <div class="clinic-card-info">
      <h1><%= @clinic.name %></h1>
      <h3><i class="fa-solid fa-location-dot"></i> <%= @clinic.address %></h3>
      <h3>Something here about specialty</h3>
      <h3><i class="fa-solid fa-poo"></i> Fortis Fortuna Adiuvat</h3>
      <h3>Something here about specialty</h3>
      <h3><strong>Patient satisfaction</strong> - <%= @rating %>/5</h3>
    </div>
  </div>

  <div class="clinic-card-extras">
    <div class="clinic-card-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="clinic-card-image"></div>
  </div>

</div>
