<% @clinic.doctors.each do |doctor| %>
  <% profile = doctor.user.profile %>
  <div class="doctor-card-container">
    <%= link_to doctor_path(doctor) do %>
      <div class="doctor-flex-container">

        <div class="doctor-flex-info">
          <p>Dr. <%= profile.first_name %> <%= profile.last_name %></p>
        </div>
        <div class="doctor-flex-pic">
        </div>

      </div>

      <div class="doctor-card-specialty">
        <p>Specialty: <%= doctor.specialties.first.name %></p>
      </div>

    <% end %>
  </div>
<% end %>
