<h1><%= @clinic.name %></h1>
<p><strong><%=@clinic.address %></strong></p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT63j2MBZNZVLxJafOEaAeFK3q6q317p_PvpQ&s" class="card-img-top p-3 rounded" alt="Burger king">
