<%= render "clinic_card" %>


<%= render "doctor_list" %>

<div class="info-1">
  <h2>Clinic's description</h2>
</div>
<div class="info-1">
  <h2>Map location</h2>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
