
<%= render "clinic_card" %>


<%= render "doctor_list" %>

<div class="info-1">
  <% unless @clinic.description.nil? %>
    <p><%= @clinic.description %></p>
  <% end %>
</div>


<%= render "map_card" %>
