
<div class="info-1">

  <div class="info-container">

    <div class="logo">
    </div>

    <div class="clinic-info">
      <h1><%= @clinic.name %></h1>
      <p><strong><%=@clinic.address %></strong></p>
    </div>

  </div>

</div>


<div class="info-1">
  <h2>List of doctors</h2>
  <div class="doctor-list">
        <% @clinic.doctors.each do |doctor| %>
    <div class="doctor-mini-card">
      <div class="doctor-mini-image"></div>
        <div class="doctor-mini-info">
          <% profile = Profile.find(doctor.user_id) %>
          <%= link_to doctors_path(doctor) do %>
            <%= profile.first_name + " " + profile.last_name %>
        </div>

    </div>
          <% end %>
        <% end %>

  </div>
</div>

<div class="info-1">
  <h2>Map location</h2>
</div>
<div class="info-1">
  <h2>Clinic's description</h2>
</div>
