<div class="container collapsable-container" data-toggle-chat-target="container" data-controller="toggle-chat">

  <div class="container chatbot" data-toggle-chat-target="chatbot">
      <h1>Consult Dr. CrAIg</h1>
      <div id="questions">
        <%= render @questions %>
      </div>

      <%= render "questions/form", question: @question %>
    </div>
</div>
