// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

// Define font variables
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Quicksand", "Helvetica", "sans-serif";

// Global font settings
body {
  font-family: $body-font;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6, button, .btn {
  font-family: $headers-font;
  font-weight: bold;
}

// Optional: paragraph styling
p {
  font-family: $body-font;
}
