<h1>Search Results</h1>

<% if @results.any? %>
  <div class="container mt-4">
    <div class="row">
      <% @results.each do |result| %>
        <% if result.is_a?(Clinic) %>
          <%= render partial: "search/clinic_card", locals: { clinic: result } %>
        <% elsif result.is_a?(Doctor) %>
          <%= render partial: "search/doctor_card", locals: { doctor: result } %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <p class="text-center mt-5">No results found for "<%= params[:query] %>".</p>
<% end %>

<%= link_to 'Back to search', root_path, class: 'btn btn-outline-primary mt-4' %>
