<div class="banner">
  <div class="container">
    <h1>Welcome to <strong>MedHub</strong></h1>
    <p>Your Trusted Healthcare Companion</p>
    <div class="search-container d-flex justify-content-center">
      <%= form_with url: search_path, method: :get, local: true, class: "d-flex align-items-center gap-2" do |form| %>
        <%= form.text_field :query, placeholder: "Search by disease or specialty...", value: params[:query], class: "form-control me-2" %>

        <div class="search-type-switch">
          <%= form.hidden_field :search_type, value: (params[:search_type] || 'doctors'), id: "searchTypeInput" %>
          <button type="button" class="switch-btn" id="doctorsBtn">Doctors</button>
          <button type="button" class="switch-btn" id="clinicsBtn">Clinics</button>
        </div>

        <%= form.submit "Search", class: "btn btn-success" %>
      <% end %>
    </div>

    <div class="segment-one">
      <h4>Your health, your way.<strong> MedHub</strong> connects you with top doctors and clinics,
  making appointment booking seamless and stress-free.</h4>
    </div>
    <div class="segment-two">
      <h4>Whether you need a routine check-up or specialized care,
    we’ve got you covered.</h4>
    </div>
  </div>
</div>



<script>
  document.addEventListener("DOMContentLoaded", function () {
    const toggle = document.getElementById("searchToggle");
    const labelSpan = document.querySelector(".toggle-label .toggle-text");
    const hiddenInput = document.getElementById("searchTypeInput");

    function updateToggle() {
      if (toggle.checked) {
        labelSpan.textContent = "Clinics";
        hiddenInput.value = "clinics";
      } else {
        labelSpan.textContent = "Doctors";
        hiddenInput.value = "doctors";
      }
    }

    toggle.addEventListener('change', updateToggle);
    updateToggle();
  });
</script>
