<div class="info-1">
  <h1>Doctors name with his specialty + the languages</h1>
</div>
<div class="info-1">
  <h2>Clinics the doctor works at</h2>
</div>
<div class="info-1">
  <h2>Doctors available times</h2>
</div>
<div class="info-1">
  <h2>Doctors description and background</h2>
</div>
