<div class="info-1">
  <h1><%= @doctor.user.profile.first_name %> <%= @doctor.user.profile.last_name %> - <%= @doctor.speciality %></h1>
</div>
<div class="info-1">
  <h2>Clinics the doctor works at</h2>
  <ul>
    <% if @doctor.clinic.present? %>
      <li><%= @doctor.clinic.name %></li>
    <% else %>
      <li>No clinics assigned.</li>
    <% end %>
  </ul>
</div>
<div class="info-1">
  <h2>Doctors available times</h2>
</div>
<div class="info-1">
  <h2>Doctors description and background</h2>
