<h1>Doctors Show</h1>

<div class="container">
  <div class="row">
    <!--                         start iteration here                        -->
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
        <img src="https://www.canyon.com/dw/image/v2/BCML_PRD/on/demandware.static/-/Sites-canyon-master/default/dw855963ab/images/full/full_2023_/2023/full_2023_3444_lux-trail-cf-9_P01_P5.png?sw=1064&sh=599&sm=fit&sfrm=png" class="card-img-top p-3 rounded" alt="Bike Image">
          <div class="card-body">
            <h2 class="h5 font-weight-bold">something</h2>
            <p class="text-muted"><strong>Type:</strong> something</p>
            <p class="text-muted"><strong>Color:</strong> something</p>
            <p class="text-muted"><strong>Area:</strong> something</p>


          </div>
        </div>
      </div>
    <!--      end iteration here                                             -->
  </div>
</div>
