html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.row-cols-md-3 {
  justify-content: center !important;
}

.row {
  margin-left: auto !important;
  margin-right: auto !important;
  width: fit-content !important; // forces row to fit around its children
}
