.profile-card-container {
  // background: rgb(255, 251, 243);
  // box-shadow: 0 0 10px lightgray;
  border: 1px solid black;
  border-radius: 32px;
  width: 95%;
  margin: auto;
  margin-top: 100px;
  min-height: 600px;
  // display: flex;
  // justify-content: space-between;

  .profile-card-flex {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    min-height: 500px;
    border: 1px solid blue;
  }

  .profile-card-info {
    // margin: 10px;
    border: 1px solid red;
    width: 50%;
  }

  .profile-display-picture {
    width: 25%;
    border: 1px solid green;
    margin: auto;
    img {
      width: 100%;
      margin: auto;
      border-radius: 16px;
    }
  }

  .profile-card-extras {
    margin: 10px;
    font-size: 32px;
  }

  i {
    margin-right: 10px;
  }
}

.profile-options {
  margin: 20px;
}

input[type="checkbox"] {
  display: inline-block !important;
  margin-right: 10px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-check {
  display: inline-flex !important;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}


.clinic-card-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 40px; // Add bottom space inside the form container
}

.form-actions {
  margin-bottom: 30px;
}
