.profile-card-container {
  background: rgb(255, 251, 243);
  // background: linear-gradient(158deg, rgba(251,248,239,1) 25%, rgba(255,231,189,1) 100%);
  box-shadow: 0 0 10px lightgray;
  border-radius: 32px;
  width: 75%;
  margin: auto;
  margin-top: 100px;
  min-height: 600px;


  .profile-card-flex {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    min-height: 500px;
  }

  .profile-card-info {
    width: 50%; // Adjusted for content
    padding: 24px; // Added padding for better spacing
  }

  .profile-display-picture {
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: center; // Center the image
    align-items: center;

    img {
      width: 100%; // Make the image responsive
      height: auto;
      border-radius: 32px; // Rounded corners for the image
      object-fit: cover;  // Ensures no stretching and maintains aspect ratio
    }
  }

  .profile-card-socials {
    padding: 24px;

    i {
      font-size: 42px;
      margin: 8px;
    }
  }

  .profile-card-extras {
    margin: 10px;
    font-size: 32px;
  }

  i {
    margin-right: 10px;
  }
}

.profile-options {
  margin: 20px;
}

input[type="checkbox"] {
  display: inline-block !important;
  margin-right: 10px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-check {
  display: inline-flex !important;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.clinic-card-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 40px; // Add bottom space inside the form container
}

.form-actions {
  margin-bottom: 30px;
}

.btn-primary {
  border: 1px solid $primary-color;
  border-radius: 20px;
  padding: 6px 20px;
  background-color: transparent;
  color: $primary-color;
  font-weight: bold;
  transition: all 0.3s ease;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.btn-accent {
  border: 1px solid $accent-color;
  border-radius: 20px;
  padding: 6px 20px;
  background-color: transparent;
  color: $accent-color;
  font-weight: bold;
  transition: all 0.3s ease;

  &:hover {
    background-color: $accent-color;
    color: white;
  }
}
