.search-container input.form-control {
  width: 700px;
  border-radius: 20px;
  padding: 8px 15px;
  margin-right: 10px;
  border: 2px solid $primary-color;
}

.search-container .btn-success {
  border-radius: 30px;
  padding: 6px 20px;
  background-color: $accent-color;
  border: none;
  color: #fff;
}

.search-container .form-check-input {
  transform: scale(1.4);
  margin-top: 6px;
  background-color: $secondary-color;
  border-color: $primary-color;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-container form {
  display: flex;
  align-items: center;
  gap: 30px; // increased spacing between all elements
}

.search-container .form-check {
  margin-right: 10px; // add spacing between toggle and button
}
